<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"/>
    <link rel="stylesheet" href="css/addPropertyFormCss/addPropertyForm.css"/>
</head>
<body>
<form action="" method="post" class="dark-matter">
    <h1 style="font-family: Georgia" align="Center" color="White">
        Seller Information
    </h1>
    <label>
        <span>First Name :</span>
        <input id="name" type="text" name="name" placeholder="Your Full Name" />
    </label>
    <label>
        <span>Phone :</span>
        <input id="phone" type="text" name="name" placeholder="Your Phone Number" />
    </label>
    <label>
        <span>Your Email :</span>
        <input id="email" type="email" name="email" placeholder="Valid Email Address" />
    </label>
    <br>
    <br>
    <br>
    <h1 style="font-family: Georgia" >
        Property Information
    </h1>
    <label>
        <span>Property Title :</span>
        <input id="propTitle" type="text" name="name" placeholder="Home,Open Land,or Commercial " />
    </label>

    <label>
        <span>Street Name :</span>
        <input id="streetName" type="text" name="name" placeholder="Street number, name etc. " />
    </label>
    <label>
        <span>City :</span>
        <input id="city" type="text" name="name" placeholder="Standerton " />
    </label>
    <label>
        <span>Country :</span>
        <input id="country" type="text" name="name" placeholder="South Africa" />
    </label>
    <label>
        <span>Postal Code :</span>
        <input id="postalCode" type="text" name="name" placeholder="2430" />
    </label>
    <br>
    <label>
        <span>Add Images :</span>
        <input type="file" name="img" multiple>
    </label>


    <label>
        <span>Message :</span>
        <textarea id="message" name="message" placeholder="Tell More about Property"></textarea>
    </label>
    <!--<label>-->
        <!--<span>Subject :</span><select name="selection">-->
        <!--<option value="Job Inquiry">Job Inquiry</option>-->
        <!--<option value="General Question">General Question</option>-->
    <!--</select>-->
    <!--</label>-->
    <label>
        <span>&nbsp;</span>
        <input type="button" class="button" value="Send" />
    </label>
</form>
</body>
</html>
