<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"/>
    <link rel="stylesheet" href="css/addPropertyFormCss/addPropertyForm.css"/>
</head>
<body>
<form action="#"th:action="@{/propertyAdded}" th:object="${property}"
      method="post" class="dark-matter">

    <h1 style="font-family: Georgia" >
        Property Information
    </h1>
    <label>
        <span>Property Title :</span>
        <input  type="text" th:field="*{title}" placeholder="Home,Open Land,or store " />
    </label>
    <label>
        <span>Property Type :</span>
        <input id="propType" type="text" th:field="*{type}" placeholder="resedential, aggrecultural, commercial  " />
    </label>
    <label>
        <span>Size (square meter) :</span>
        <input id="propSize" type="text" th:field="*{size}" placeholder="Size in Square meters " />
    </label>


    <label>
        <span>Number on Street :</span>
        <input id="houseNo" type="text"th:field="*{houseNo}" placeholder="Street number, name etc. " />
    </label>
    <label>
        <span>City :</span>
        <input id="city" type="text"th:field="*{city}" placeholder="Standerton " />
    </label>
    <label>
        <span>Country :</span>
        <input id="country" type="text" th:field="*{country}" placeholder="South Africa" />
    </label>
    <label>
        <span>Postal Code :</span>
        <input id="postalCode" type="text" th:field="*{postalCode}" placeholder="2430" />
    </label>
    <br>
    <label>
        <span>Add Images :</span>
        <input type="file" name="img" th:field="*{image}" multiple>
    </label>


    <label>
        <span>Got more Information? </span>
        <textarea id="message" name="message" th:field="*{address}" placeholder="Tell More about Property"></textarea>
    </label>

    <label>
        <span>&nbsp;</span>
        <input type="submit" class="button" value="Send" />
    </label>
</form>
</body>
</html>
